@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
    /*font-family: 'Noto Sans KR', sans-serif;*/
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

