#topbar-dropdown {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0.5rem 1rem;
}

#topbar-dropdown button {
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    transition: all 0.3s;
}
#topbar-dropdown button::after {
    margin-left: 1rem;
}

#topbar-dropdown .dropdown-menu{
    text-align: center;
    left: 0;
    right : 0;
}
